<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- login form -->
    <form method="post">
        <h1>login</h1>
        <label for="username">username: </label><br>
        <input type="text" name="username"><br>
        <label for="password">password: </label><br>
        <input type="password" name="password" id="">
        <br><br>
        <input type="submit" value="login">
    </form>

    <!-- client side script -->
    <script>
        async function login(body) {
            const res = await fetch('/auth/login', {
                method: 'post',
                body,
            });
            if (res.status === 401) {
                alert('Hibás adatok!');
                return;
            }
            const data = await res.json();
            console.log('jwt access token: ' + data.access_token);

            const profileResponse = await fetch('/users/profile', {
                headers: {
                    Authorization: `Bearer ${data.access_token}`
                }
            })
            const profile = await profileResponse.json();
            console.log(profile)
        }

        const form = document.querySelector('form');
        form.addEventListener('submit', (e) => {
            e.preventDefault();

            const data = new URLSearchParams();
            for (const pair of new FormData(form)) {
                data.append(pair[0], pair[1]);
            }

            login(data);
        });
    </script>
</body>

</html>